# Ignore everything...
*

# except for git files
!.gitignore
!.github/
!.github/**

# except the scripts folder

!scripts
!scripts/*

# except the readme file
!readme.md
!advancements.png

# except custom resources
!resources
!resources/contenttweaker
!resources/contenttweaker/**/**
!resources/waystones
!resources/waystones/**
!resources/patchouli
!resources/patchouli/**
!resources/minecraft
!resources/minecraft/**

# except changed config files (add manually)
!config
!config/AppliedEnergistics2
!config/AppliedEnergistics2/AppliedEnergistics2.cfg
!config/blur.cfg
!config/hwell.cfg
#!config/splash.properties
!config/uniquecrops.cfg
!config/extendedcrafting.cfg
!config/akashictome.cfg
!config/opencomputers/
!config/opencomputers/settings.conf
!config/tconstruct.cfg
!config/astralsorcery.cfg
!config/theoneprobe.cfg
!config/immersiveengineering.cfg
!config/Waystones.cfg
!config/hats.cfg
!config/lockdown.cfg
!config/voidislandcontrol.cfg
!config/harvestcraft.cfg
!config/quark.cfg
!config/morphtool.cfg
!config/jeresources
!config/jeresources/jeresources.cfg
!config/jeresources/world-gen.json

# Patchouli books folder
!patchouli_books
!patchouli_books/**

# advancements folder
!advancements
!advancements/**

# map template
!template
!template/**

# gradle
/advancements/.gradle
/advancements/build

# server pack
!server/
!server/server-setup-config.yaml
!server/startserver.bat
!server/startserver.sh
