# Ignore everything...
*

# except for the gitignore file
!.gitignore

# except the scripts folder

!scripts
!scripts/*

# except the readme file
!readme.md

# except custom resources
!resources
!resources/contenttweaker
!resources/contenttweaker/**/**

# except changed config files (add manually)
!config
!config/blur.cfg
!config/hwell.cfg
!config/splash.properties
!config/uniquecrops.cfg
!config/extendedcrafting.cfg
!config/akashictome.cfg
!config/opencomputers/
!config/opencomputers/settings.conf
!config/tconstruct.cfg
!config/astralsorcery.cfg
!config/theoneprobe.cfg
!config/immersiveengineering.cfg
!config/Waystones.cfg
